<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-1 sm-hidden xs-hidden"></div>
    <div class="col-xl-2 col-lg-2 col-md-1 sm-hidden xs-hidden"></div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
        <div class="country cntr">
            <%= image_tag ("UK.png") %>
            <p class="countryname">United Kingdom</p>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6"></div>
    <div class="col-xl-2 col-lg-2 col-md-1 sm-hidden xs-hidden"></div>
    <div class="col-xl-2 col-lg-2 col-md-1 sm-hidden xs-hidden"></div>
</div>