<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 pictop">
        <%= image_tag("traveltokyo.jpg") %>
    </div>
</div>
<div class="row subrow">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 cntr">
        <p id="titlesub">a hive of bug-sized travel guides</p>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-10">
        <p class="postcat">Most Recent Post:</p>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
</div>
