// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #FFCF2;
    margin: 0;
}

.buffer {
    height: 125px;
}

.heady img {
    height: 30px;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

#titlelogo {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #519872;
    font-size: 4.0em;
    margin: 0;
    padding: 20px 0 0 0;
    line-height: 60%;
}

#titlesub {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    font-size: 2.0em;
    margin: 0;
    padding: 25px 0;
    line-height: 60%;
}

.subrow {
    background-color: #252422;
}

.headbar {
    background-color: white;
    padding-top: 20px 0 10px 0px;
    box-shadow: 0px 0px 10px 0px #252422;
    position:fixed;
    margin:0;
    top: 0;
    width: 100%;
    z-index: 120;
}

.cntr {
    margin: auto;
    text-align: center;
}

.pictop {
    padding: 0;
}

.pictop img{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.postcat {
    padding-top: 16px;
    color: #101271;
    font-size: 1.5em;
    font-family: 'Hind Siliguri', sans-serif;
}

.otthsblue {
    color: #101271;
}

.field, .action {
    margin-left: 20px;
}

.topLinks {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3em;
    color: #101271;
    text-decoration: none;
    margin: 0 10px;
}

.topLinks:hover {
    color: #C0DBB7;
    text-decoration: none;
    background-color: white;
}

///Article Formating

.artLinks {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #101271;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.artOps {
    color: #C0DBB7;
    font-family: 'Hind Siliguri', sans-serif;
}

.artOps:hover {
    color: #252422;
    font-family: 'Hind Siliguri', sans-serif;
    text-decoration: none;
    background-color: white;
}

.artLinks:hover {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #C0DBB7;
    font-size: 1.8em;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: white;
}

.guides a{
    margin-left: 50px;
}

.artTitle {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #519872;
    font-size: 2.0em;
    margin-bottom: 10px;
}

.artDate {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.2em;
    color: #C0DBB7;
    margin-top: 0;
}
    
.artFull {
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Hind Siliguri', sans-serif;
    color: #252422;
}

.artImage1 {
    padding-left:30px;
    text-align:left;
    width: auto;
    height: 400px;
    margin-bottom: 20px;
}

.artImage2 {
    padding-left:30px;
    text-align:left;
    width: auto;
    height: 400px;
    margin-bottom: 20px;
}

.artCat {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.2em;
    color: #101271;
    margin-top: 0;
}

.artList {
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #C0DBB7;
    color: white;
    padding: 5px;
    display: inline;
    margin: 0 0 0 30px;
    border-radius: 2px;
}

//country page
.country {
    max-height: 300px;
    border: solid 2px #C0DBB7;
    color: #101271;
    background-color: white;
    border-radius: 3px;
    margin-top: 20px;
}

.country img {
    width: auto;
    max-height: 200px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.countryname {
    color: #101271;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.4em;
}

@media screen and (max-width: 600px) {
        #titlesub {
        font-family: 'Hind Siliguri', sans-serif;
        color: white;
        font-size: 1.5em;
        margin: 0;
        padding: 25px 0;
        line-height: 60%;
    }
    
    .artTitle {
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #519872;
        font-size: 3.0em;
        line-height:30px;
        margin-bottom: 10px;
    }
    
    .artDate {
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 2.0em;
        color: #C0DBB7;
        margin-top: 0;
    }
    
    .artFull {
        text-align: justify;
        font-size: 2.0em;
        font-family: 'Hind Siliguri', sans-serif;
        color: #252422;
    }
    
    .artImage1 {
        padding-left:30px;
        text-align:left;
        width: 75%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .artImage2 {
        padding-left:30px;
        text-align:left;
        width: 75%;
        height: auto;
        margin-bottom: 20px;
    }
}