// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #FFCF2;
    margin: 0;
}

.heady img {
    height: 30px;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 15px;
}

#titlelogo {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #519872;
    font-size: 4.0em;
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 60%;
}

#titlesub {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    font-size: 2.0em;
    margin: 0;
    padding: 25px 0;
    line-height: 60%;
}

.subrow {
    background-color: #252422;
}

.headbar {
    padding-top: 10px;
    box-shadow: 0px 0px 10px 0px #252422;
}

.cntr {
    margin: auto;
    text-align: center;
}

.pictop {
    padding: 0;
}

.pictop img{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.postcat {
    padding-top: 16px;
    color: #101271;
    font-size: 1.5em;
    font-family: 'Hind Siliguri', sans-serif;
}

.otthsblue {
    color: #101271;
}

.field, .action {
    margin-left: 20px;
}

///Article Formating

.artTitle {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #519872;
    font-size: 2.0em;
    margin-bottom: 4px;
}

.artDate {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.2em;
    color: #C0DBB7;
    margin-top: 0;
}

.artFull {
    text-align: justify;
    font-size: 1.0em;
    font-family: 'Hind Siliguri', sans-serif;
    color: #252422;
}

.artImage1 {
    padding-left:30px;
    text-align:left;
    width: auto;
    height: 400px;
    margin-bottom: 20px;
}

.artImage2 {
    padding-left:30px;
    text-align:left;
    width: auto;
    height: 400px;
    margin-bottom: 20px;
}