// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #FFCF2;
}

header img {
    height: 34px;
    margin-top: 0;
}

#titlelogo {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #519872;
    font-size: 3.5em;
    margin: 0;
    padding: 10px 0 0 6px;
    line-height: 60%;
}

#titlesub {
    font-family: 'Hind Siliguri', sans-serif;
    color: #592941;
    font-size: 1.5em;
    margin: 0;
    padding: 10px 0 0 6px;
    line-height: 60%;
}